<form action="https://docs.google.com/forms/d/e/1FAIpQLSfh0MpZgBTTbRVzs5kGzL8b7ryWiuj5OsY6G8yCFiXqaqkNvQ/viewform?usp=sf_link" target="_self" method="POST">
        <input name="entry.622412561" type="text" class="feedback-input" placeholder="Name" />
         <input name="entry.777068024" type="text" class="feedback-input" placeholder="Email" />
         <textarea name="entry.954204904" class="feedback-input" placeholder="Comment"></textarea>
  <input type="submit" value="SUBMIT"/>
      </form>

