<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="UI.html" method="post">
      <p>Enter Password</p>
      <input type="password" name="password" value="">
      <input type="submit" name="submit" value="Submit">
      <p>You've entered the wrong username/password. Please try again</p>
    </form>
    <form class="reset_password" action="reset_password" method="post">
      <input type="submit" name="reset" value="Reset Password">
    </form>
  </body>
</html>
