<html>
<head>
</head>


<main class="main-area">

  <div class="centered">

		<section class="cards">

			<article class="card">
				<a href="UI_updateFooter.html">

					<div class="card-content">
						<h2>Update Footer</h2>

					</div><!-- .card-content -->
				</a>
			</article><!-- .card -->

	<div class="centered">

		<section class="cards">

			<article class="card">
				<a href="UI_updateAboutUs.html">

					<div class="card-content">
						<h2>Update About Us</h2>

					</div><!-- .card-content -->
				</a>
			</article><!-- .card -->

			<article class="card">
				<a href="UI_updateEvents.html">

					<div class="card-content">
						<h2>Update Events</h2>
					</div><!-- .card-content -->
				</a>
			</article><!-- .card -->

			<article class="card">
				<a href="UI_updateSupportUs.html">

					<div class="card-content">
						<h2>Update Support Us</h2>

					</div><!-- .card-content -->
				</a>
			</article><!-- .card -->


		</section><!-- .cards -->

	</div><!-- .centered -->

  <article class="card">
    <a href="UI_updateContact.html">

      <div class="card-content">
        <h2>Update Contact</h2>

      </div><!-- .card-content -->
    </a>
  </article><!-- .card -->


</section><!-- .cards -->

</div><!-- .centered -->

</main>
</html>
