<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="">
      <h3>Update Events</h3>
      <fieldset>
      {% for l in t %}
        {% if 'Num' in l %}

        <form class="" action="update_event" method="post">
          <fieldset>
              <input hidden value={{ l["Num"] }} name='num' type='text'>
            <fieldset>
              <h4>Event Title</h4>
              <input placeholder={{ l["Title"] }} value={{ l["Title"] }} name='title' type="text" tabindex="1" required autofocus>
              </fieldset>
            <fieldset>
              <h4>Description</h4>
              <input placeholder={{ l["Description"] }} value={{ l["Description"] }} name='description' tabindex="1" >
            </fieldset>
            <fieldset>
              <h4>Poster Link</h4>
              <input placeholder={{ l['Poster'] }} value={{ l['Poster'] }} name='poster' tabindex="1" >
            </fieldset>
            <fieldset>
              <h4>Link to Google Drive Folder for photos</h4>
              <input placeholder={{ l["Photos"] }} value={{ l["Photos"] }} name='photos' tabindex="1" >
            </fieldset>
          </fieldset>
          <fieldset>
            <button name="delete" type="submit"  data-submit="...Sending">Delete</button>
            <button name="update" type="submit"  data-submit="...Sending">Update</button>
          </fieldset>
        </form>
        {% endif %}
      {% endfor %}
      </fieldset>

      <form class="" action="add_event" method="post">
      <h3>Add a new event</h3>
      <fieldset>
        <fieldset>
          <input hidden value={{ prev_num }} name='num' type='text'>
        </fieldset>
      </fieldset>
      <fieldset>
        <input placeholder="Event Title" name='title' type="text" tabindex="1" required autofocus>
        </fieldset>
      <fieldset>
        <input placeholder="Event Description" name='description' tabindex="1" required>
      </fieldset>
      <fieldset>
        <input placeholder="Google drive link for Poster" name='poster' tabindex="1" required>
      </fieldset>
      <fieldset>
        <input placeholder="Link to Google Drive Folder for photos" name='photos' tabindex="1" required>
      </fieldset>
      <button name="submit" type="submit" id="team-submit" data-submit="...Sending">Add</button>
    </form>
    <br>
    <form class="" action="go_to_index" method="post">
    <button name="submit" type="submit" id="team-submit" data-submit="...Sending">Done! Go Back</button>
    </form>
  </div>
  </body>
</html>
